@use './variables' as *;
@use './mixins' as *;

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body {
    width: 100%;
    min-height: 100%;
    background-color: $color-bg;
    color: $color-text-main;
    font-family: $font-family-sans;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    // overflow-x: hidden; // Breaks sticky positioning! removed.
    overflow-x: clip; // Modern alternative that often preserves sticky
    /* Prevent horizontal scroll from animations */
}

a {
    color: inherit;
    text-decoration: none;
}

button {
    border: none;
    background: none;
    font-family: inherit;
    cursor: pointer;
    color: inherit;
}

// Global Classes
.container {
    @include container;
}

// Lenis scroll class
html.lenis {
    height: auto;
}

.lenis.lenis-smooth {
    scroll-behavior: auto;
}

.lenis.lenis-smooth [data-lenis-prevent] {
    overscroll-behavior: contain;
}

.lenis.lenis-stopped {
    overflow: hidden;
}

.lenis.lenis-scrolling iframe {
    pointer-events: none;
}